@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #FFF;
  color: #000000;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

[class*=__container] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.heading-block__title {
  max-width: 482px;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
@media (max-width: 991.98px) {
  .heading-block__title {
    margin-bottom: 20px;
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .heading-block__title {
    font-size: 35px;
  }
}
.heading-block__sub-title {
  max-width: 488px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 173%;
  color: #000000;
}
@media (max-width: 991.98px) {
  .heading-block__sub-title {
    max-width: none;
  }
}
@media (max-width: 991.98px) {
  .heading-block {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .heading-block {
    flex: 0 1 100%;
  }
}

.world-trust {
  padding: 215px 0 40px 0;
}
@media (max-width: 991.98px) {
  .world-trust {
    padding: 180px 0 40px 0;
  }
}
@media (max-width: 767.98px) {
  .world-trust {
    padding: 140px 0 40px 0;
  }
}
@media (max-width: 424.98px) {
  .world-trust {
    padding: 90px 0 40px 0;
  }
}
.world-trust__container {
  display: flex;
  align-items: center;
  column-gap: 120px;
  row-gap: 55px;
}
@media (max-width: 991.98px) {
  .world-trust__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.world-trust__images {
  flex: 0 1 50%;
}
.world-trust__images img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .world-trust__images {
    text-align: center;
    flex: 0 1 70%;
    position: relative;
  }
  .world-trust__images:after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background: url("../img/world trust/decoration.svg");
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .world-trust__images:after {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .world-trust__images:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background: url("../img/world trust/decoration.svg");
    top: 0;
    right: 0;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .world-trust__images:before {
    display: none;
  }
}
.world-trust__body {
  flex: 0 1 50%;
}
@media (max-width: 991.98px) {
  .world-trust__body {
    flex: 0 1 100%;
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .world-trust__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .world-trust__heading {
    text-align: center;
  }
}
.world-trust__list {
  padding: 30px 32px 30px 40px;
  margin: 57px 0 0 21px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  max-width: 500px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
@media (max-width: 991.98px) {
  .world-trust__list {
    max-width: none;
    flex: 0 1 50%;
    margin: 0;
    padding: 20px 22px 20px 30px;
  }
}
@media (max-width: 767.98px) {
  .world-trust__list {
    flex: 0 1 100%;
  }
}
@media (max-width: 424.98px) {
  .world-trust__list {
    padding: 15px 17px 15px 20px;
  }
}

.world-trust-list__item {
  padding-right: 50px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-transform: uppercase;
  color: #000000;
}
.world-trust-list__item:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/world trust/plus.svg") no-repeat;
  top: 0;
  right: 0;
}

.business-development {
  padding: 100px 0 30px 0;
}
@media (max-width: 767.98px) {
  .business-development {
    padding: 50px 0 30px 0;
  }
}
.business-development__container {
  display: flex;
  column-gap: 120px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .business-development__container {
    column-gap: 60px;
  }
}
@media (max-width: 767.98px) {
  .business-development__container {
    flex-wrap: wrap;
    row-gap: 55px;
    justify-content: center;
  }
}
.business-development__first-column {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .business-development__first-column {
    flex: 0 1 100%;
  }
}
@media (max-width: 767.98px) {
  .business-development__heading {
    text-align: center;
  }
}
.business-development__body {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.business-development__case {
  display: flex;
  justify-content: space-between;
}
.business-development__text {
  margin-left: 10px;
  font-size: 19px;
  line-height: 158%;
  text-transform: uppercase;
}
.business-development__number {
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
}
.business-development__second-column {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .business-development__second-column {
    max-width: 540px;
    flex: 0 1 100%;
  }
}
.business-development__item {
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.research-case {
  position: relative;
}
.research-case:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: url("../img/business development/01.svg") no-repeat;
  background-size: cover;
  bottom: -10px;
  left: 0;
}

.education-case {
  position: relative;
}
.education-case:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: url("../img/business development/02.svg") no-repeat;
  background-size: cover;
  bottom: -10px;
  left: 0;
}

.strategy-case {
  position: relative;
}
.strategy-case:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: url("../img/business development/03.svg") no-repeat;
  background-size: cover;
  bottom: -10px;
  left: 0;
}

.item-development__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/business development/IMAGE.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.item-development__title {
  font-size: 19px;
  line-height: 158%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.item-development__body {
  padding: 31px 10px 40px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item-development__price-value {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.item-development__price-recurrence {
  text-align: center;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.item-development__list {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  margin-bottom: 55px;
}
.item-development__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  text-transform: uppercase;
}
.item-development__button {
  padding: 14px 40px;
  font-size: 13px;
  line-height: 185%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0057FF;
  border-radius: 30px;
}

.comments {
  padding: 200px 0 68px 0;
}
@media (max-width: 991.98px) {
  .comments {
    padding: 150px 0 68px 0;
  }
}
@media (max-width: 767.98px) {
  .comments {
    padding: 100px 0 68px 0;
  }
}
@media (max-width: 424.98px) {
  .comments {
    padding: 50px 0 50px 0;
  }
}
.comments__body {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 991.98px) {
  .comments__body {
    row-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.comments__column {
  padding: 0 10px;
  flex: 0 1 33.333%;
}
@media (max-width: 991.98px) {
  .comments__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .comments__column {
    flex: 0 1 80%;
  }
}
@media (max-width: 424.98px) {
  .comments__column {
    flex: 0 1 100%;
  }
}
.comments__item {
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 41px;
  text-align: center;
}
.comments__images {
  margin-top: 51px;
  text-align: center;
}

.item-comment__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 171%;
  margin-bottom: 6px;
}
.item-comment__reviewer {
  margin-top: 20px;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
}
.item-comment__reviewer-work {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 185%;
  text-transform: uppercase;
}

/*# sourceMappingURL=index.css.map */
