@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1460px;
    margin: 0 auto; 
}
// Перша секція 
.section-first{
    padding-top: 85px;
   .top__section-first{
    display: flex;
    justify-content: center;
    position: relative;
     .text-block{
        padding-top: 132px;
        .desc{
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #0057FF;
        }
        .title__section-first{
            text-align: center;
        }
        .description__section-first{
            padding-top: 23px;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            color: black;
            width: 776px;
            height: 102px;
        }
        .button__section-first{
            padding-top: 37px;
            display: flex;
            justify-content: center;
            & button{
                width: 162px;
                height: 52px;
                background: #0057FF;
                border-radius: 30px;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: #4780e3;
                }
                & a{
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
            
        }
     }
     .image__section-first{
        position: absolute;
        z-index: -1;
       }
   }
   .middle-line {
    display: flex;
    justify-content: center;
    padding-top: 129px;
    
}
   
}
.comp-list{
    display: grid;
    grid-template-columns: repeat(6,141px);
    grid-template-rows: 40px;
    gap: 66px;
    justify-content: center;
    padding-top: 65px;
}
.bottom-line{
    display: flex;
    justify-content: center;
    padding-top: 63px;
}
// Друга секція
.section-second{
    padding-top: 99px;
    position: relative;
    .desc{
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #0057FF;
    }
    .title{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000;
    }
    .title__section-second{
        text-align: center;
    }
    .desc__section-second{
        text-align: center;
        padding-top: 4px;
    }
    .block__section-second{
        padding-top: 66px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,592px);
        column-gap: 16px;
        .left-blocks{
            display: grid;
            row-gap: 16px;
            .left-block{
                display: flex;
                background: #FFFFFF;
                border: 1px solid #D9DCEC;
                border-radius: 10px;
                padding: 21px 59px 19px 21px;
                .right-side__left__block{
                    padding-left: 30px;
                    padding-top: calc(41px - 21px);
                    .subtitle__right-side{
                        font-family: 'Oswald';
                        font-size: 20px;
                        line-height: 30px;
                        text-transform: uppercase;
                        color: #000;
                    }
                    .description__right-side{
                        font-size: 14px;
                        line-height: 24px;
                        color: #000;
                        padding-top: 24px;
                    }
                }
            }
            
        }
        .right-block{
            background: #FFFFFF;
            border: 1px solid #D9DCEC;
            border-radius: 10px;
            padding: 21px;
            
            .right-block-image{
                background-image: url(../images/right-picture.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                height: 100%;
                .block-text__right-block{
                    padding-top: 303px;
                    padding-left: 30px;
                    .title__right-block{
                        width: 461px;
                        font-family: 'Oswald';
                        font-size: 40px;
                        line-height: 50px;
                        text-transform: uppercase;
                        color: #000;
                    }
                }
            }
        }
    }
    .orange{
        position: absolute;
        top:437px;
        right: 0;
    }
    .green{
        position: absolute;
        top: 143px;
        left: 72px;
    }
}
footer{
    background: #000;
    margin-top: 100px;
    width: 100%;
    height: 254px;
    padding-top: 71px;
    
    
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 100px;
        .left-side__footer{
          
            .footer-logo {
                & img{
                    padding-top: 10px;
                }
            }
            .authors__footer{
                display: flex;
                padding-top: 63px;
                .auth{
                    font-size: 12px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #999999;
                    & span{
                        color: #FFFFFF;
                    }
                }
                .middle-authors__footer{
                    padding-left: 8px;
                }
                .right-author__footer{
                    padding-left: 8px;
                }
            }
        }
        .right-side__footer{
            .navigation-bar{
                & ul{
                    display: flex;
                    & li{
                        padding-right: 20px;
                        & a{
                            font-size: 12px;
                            line-height: 22px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            &:hover{
                                border-bottom: 2px solid #FFF;
                            }
                            
                        }
                    }
                }
            }
            .icons__right-side{
                display: flex;
                padding-left: 250px;
                padding-top: 70px;
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 100px;
                    border: 1px solid rgba(240, 242, 250, 0.33);
                    margin-left: 4px;
                    &:hover{
                        background-color: grey;
                        
                    }
                }
            }
        }
    }
}
@media only screen and(max-width:1200px){

}
@media only screen and (min-width:421px) and(max-width:800px){
    .section-first{
        
       .top__section-first{
         .text-block{
            .desc{
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #0057FF;
            }
            .title__section-first{
                text-align: center;
            }
            .description__section-first{
                width: 500px;
                font-size: 18px;
            }
            .button__section-first{
                padding-top: 37px;
                display: flex;
                justify-content: center;
                & button{
                    width: 162px;
                    height: 52px;
                    background: #0057FF;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    &:hover{
                        background-color: #4780e3;
                    }
                    & a{
                        font-size: 14px;
                        line-height: 24px;
                        color: #FFF;
                        text-transform: uppercase;
                    }
                }
                
            }
         }
         .image__section-first{
            position: absolute;
            z-index: -1;
           }
       }
       .middle-line {
        display: flex;
        justify-content: center;
        padding-top: 129px;
    }
}
.comp-list{
    display: grid;
    grid-template-columns: 141px 141px;
    grid-template-rows: 40px;
    gap: 66px;
    justify-content: center;
    padding-top: 65px;
}
.section-second{
    .block__section-second{
        grid-template-columns: 592px;
    }
    .orange , .green{
        display: none;
    }
}
footer{
    width: auto;
    height: auto;
    display: flex;
    .footer-wrapper{
        padding: 0;
        display: block;
        .left-side__footer{
            display: flex;
            justify-content: center;
            .wrapper__left-side{
                .footer-logo{
                        display: flex;
                        justify-content: center;
                }
            }
        }
        .right-side__footer{
            padding-top: 20px;
            .icons__right-side{
                padding: 0;
                padding-top: 50px;
                display: flex;
                justify-content: center;
            }
        }
    }
}
}
@media only screen and(max-width:420px){
    .section-first{
        
        .top__section-first{
           .text-block{
            padding-top: 100px;
            .description__section-first{
                padding-top: 0;
                font-size: 11px;
                width: 200px;
            }
            .button__section-first{
                padding-top: 80px;
                & button{
                    width: 110px;
                    height: 40px;
                    & a{
                        font-size: 10px;
                    }
                }
            }
           }
        }
        .image__section-first {
            & img{
                width: 400px;
                height: 400px;
            }
        }
        
    }
    .comp-list{
        display: grid;
        grid-template-columns: 141px;
    }
    .section-second{
        .orange , .green{
            display: none;
        }
        .desc__section-second{
            font-size: 30px;
        }
        .block__section-second{
            grid-template-columns: 270px;
            .left-blocks{
                display: grid;
                grid-template-columns: 270px;
                .left-block{
                    display: block;
                    padding: 10px;
                    .right-side__left__block{
                        padding: 0;
                    }
                }
            }
            .right-block{
                padding: 10px;
                margin-top: 20px;
                .right-block-image{
                    .block-text__right-block{
                        .title__right-block{
                            font-size: 22px;
                            width: 180px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    footer{
        
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-wrapper{
            display: block;
            .wrapper__left-side{
                align-items: center;
                .footer-logo{
                    display: flex;
                    justify-content: center;
                }
                .authors__footer{
                    display: flex;
                    .auth{
                        font-size: 7px;
                    }
                }
            }
            .right-side__footer{
                
                .navigation-bar{
                    & ul{
                        display: block;
                        & li{
                            padding-right: 0;
                            text-align: center;
                        }
                    }
                }
                .icons__right-side{
                    padding-top: 10px;
                    padding-left: 0;
                }
            }
        }
    }
}